
.jps {
    position: absolute;
    width: 84px;
    height: 54px;
    left: 30px;
    top: 18px;
  
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 54px;
    text-align: center;
    letter-spacing: -0.03em;
  
    color: #5590C9;
  }
  
  .login-button {
    position: absolute;
    width: 228px;
    height: 47px;
    left: 1182px;
    top: 22px;
  
    background: #5590C9;
    border-radius: 23.5px;
  }
  
  .login-button > a {
    position: absolute;
    width: 143px;
    height: 24px;
    left: 43px;
    top: 12px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: -0.03em;
  
    color: #F5F5F5;
  }
  
  .title {
    position: absolute;
    width: 780px;
    height: 70px;
    left: 330px;
    top: 165px;
  
    font-family: 'Hahmlet';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 70px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: -0.05em;
  
    color: #5590C9;
  }
  
  .sub-title {
    position: absolute;
    width: 404px;
    height: 30px;
    left: 518px;
    top: 263px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: -0.03em;
  
    color: #5590C9;
  }
  
  .arum-block {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 255px;
    top: 381px;
  
    background: #5590C9;
    border-radius: 60px;
  }
  
  .maru-png {
    position: absolute;
    width: 451px;
    height: 451px;
    background: url(마루재.png);
    filter: blur(2px);
    border-radius: 60px;
  }
  
  .arum-text {
    position: absolute;
    width: 239px;
    height: 91px;
    left: 54px;
    top: 143px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
  
    color: #F5F5F5;
  }
  
  .arum-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 196px;
    top: 327px;
    background: url(여기버튼.png);
  }
  
  .maru-block {
    position: absolute;
    width: 450px;
    height: 450px;
    left: 734px;
    top: 381px;
  
    background: #5590C9;
    border-radius: 60px;
  }
  
  .arum-png {
    position: absolute;
    width: 451px;
    height: 451px;
    background: url(아름재.png);
    filter: blur(2px);
    border-radius: 60px;
  }
  
  .maru-text {
    position: absolute;
    width: 239px;
    height: 91px;
    left: 54px;
    top: 143px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.05em;
  
    color: #F5F5F5;
  }
  
  .arum-text > a:first-child {
    font-weight: 1000;
  }
  
  .maru-text > a:first-child {
    font-weight: 1000;
  }
  
  
  .maru-button {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 196px;
    top: 327px;
    background: url(여기버튼.png);
  }
  
  .fnq {
    position: absolute;
    width: 227px;
    height: 30px;
    left: calc(50% - 227px/2 + 0.5px);
    top: 942px;
  
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height */
  
    text-align: center;
    letter-spacing: -0.03em;
  
    color: rgba(116, 116, 116, 0.75);
  }
  